* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #F3722C;
  --green: #009536;
  --light-green: #BEF6C3;
  --dark: #323232;
  --white: #fff;

  --title-1: 40px;
  --title-2: 32px;
  --title-3: 28px;
  --title-4: 24px;
  --title-5: 22px;
  --title-6: 20px;
  --title-7: 18px;
  --title-8: 18px;

  --border-r-1: 25px;
  --border-r-2: 15px;
  --border-r-3: 10px;
  --border-r-4: 6px;

  --section-padding: 1.5rem;

  --border-clr-1: rgba(78, 78, 78, 0.15);

  --green-filter: invert(29%) sepia(99%) saturate(1294%) hue-rotate(122deg) brightness(98%) contrast(105%);
}

@font-face {
  font-family: 'cairo';
  src: url('../fonts/cairo/Cairo-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'cairo';
  src: url('../fonts/cairo/Cairo-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'cairo';
  src: url('../fonts/cairo/Cairo-Bold.ttf');
  font-weight: 700;
}

body {
  font-family: 'cairo', sans-serif;
  background: var(--white);
  direction: rtl;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

input,
button,
input:focus,
button:focus {
  outline: none;
}

button,
button:focus {
  border: none;
}

::-webkit-scrollbar {
  display: none;
}


.input-focus:focus{
    
  border-color: var(--green) !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px var(--light-green) !important;


}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
-webkit-appearance: none;
margin: 0;
}
input[type="number"]
{
-moz-appearance: textfield;
}
.form-group{
  
  position: relative;
}
.form-group .form-control,
.form-group .form-select{
  
  border-radius: 5px;
  border-color: #C4C4C4;
  font-size: 16px;
  color: #858585;
  box-shadow: none;
  padding: .85rem .75rem;
}
.form-group .form-control::placeholder{
  
  color:#858585;
}
.form-select{
  
  padding-left: 2rem !important;
  background-position: left .75rem center;
}
.form-check{
      
      position: relative;
      padding-left: 0em;
      padding-right: 1.5em;
      
}
.form-check .form-check-input{
  
      float: right;
      margin-left: 0em;
      margin-right: -1.5em;
      border-color: #C4C4C4;
      transition: all .3s ease;
      box-shadow: none;
      cursor: pointer;
      
}
.form-check .form-check-input:active{
  
  filter: brightness(100%)
}

.form-check .form-check-input:checked{
  
  background-color: var(--green);
  border-color: var(--green);
}


.form-group .password-field{
  
  position: relative;
  
}
.form-group .password-field .form-control{
  
  padding-left: 45px !important;
}
.form-group .password-field .eye-icon{
  
  position: absolute;
  left: .75rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width:30px ;
  height:calc(100% - 2px) ;
  font-size: 30px;
  content: url(../img/eye-1.svg);
  transition: all .15s ease-in-out;
  background-size: cover;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-group .password-field .eye-icon.hide{
  
  content: url(../img/eye-2.svg);
}



.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after,
.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  display: none;
}

/* general class */
.custom-container {
  padding: 0 0.5rem;
  margin: 0 auto;
}

.section-style {
  padding: 2.5rem 0;
}

.custom-section {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.custom-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  background-color: black;
  border: 1px solid black;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  color: black;
  background-color: transparent;
}

.custom-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.custom-btn:hover img {
  filter: invert(1);
  transform: rotate(180deg);
}

.custom-title {
  position: relative;
  width: 100%;
}

.custom-title::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
}

.custom-title .section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
}

.custom-title .section-title::before,
.custom-title .section-title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 5px;
}

.custom-title .section-title::before {
  z-index: -1;
  background-color: var(--green);
  height: 100%;
}

.custom-title .section-title::after {
  z-index: -2;
  height: calc(100% + 10px);
  background-color: var(--light-green);
  transition: all 0.3s ease;
}

.custom-title .section-title:hover::after {
  height: 100%;
}

::placeholder {
  color: var(--dark);
}

.show-more-link {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  transition: all .3s ease;
  border-radius: var(--border-r-4);
  color: #fff;
  font-size: var(--title-7);
  max-width: 150px;
  width: 100%;
  text-align: center;
  padding: .5rem .75rem;
}

.show-more-link svg {

  width: 18px;
  height: 18px;
  fill: #fff;
  margin-right: .75rem;

}

.show-more-link:hover {

  color: #fff;
  background-color: var(--light-green);

}


.slider-container {
  position: relative;
}

.swiper {

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-scrollbar {

  display: none;
  bottom: 0.1rem !important;
}

.swiper-scrollbar-drag {

  background: rgba(0, 0, 0, .15);
}

.grid-slider .swiper-grid-column>.swiper-wrapper {

  flex-direction: row;
}

.grid-slider .swiper-slide {

  margin-top: 0 !important;
  margin-bottom: 0 !important;

}


.lightbox-item {

  outline: none;
  border: none;
  box-shadow: none;
}

a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox-zoomIn {
  animation: 0.25s ease both fancybox-zoomIn;
}

.fancybox-zoomOut {
  animation: 0.15s ease both fancybox-zoomOut;
}

@keyframes fancybox-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fancybox-zoomOut {
  to {
    opacity: 0;
    transform: scale(1.25);
  }
}


.section-contint {
  padding-top: 3rem;
}

/* Navbar */

.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  background-color: var(--white);
  display: none;
}

nav .nav-contint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav .nav-contint .nav-search {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav .nav-contint .nav-search .search-form {
  position: relative;
  width: 350px;
  height: 40px;
  overflow: hidden;
}

nav .nav-contint .nav-search .search-form form {
  width: 100%;
  height: 100%;
}

nav .nav-contint .nav-search .search-form input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--dark);
  color: var(--dark);
  font-size: 1rem;
  padding: 0 50px 0 15px;
}

nav .nav-contint .nav-search .search-form .search-btn {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 40px;
  height: 100%;
  padding: 0 10px;
  background-color: var(--dark);
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav .nav-contint .nav-search .search-form .search-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

nav .nav-contint .nav-search .delivery-contint {
  display: none;
  align-items: center;
  gap: 7px;
}

nav .nav-contint .nav-search .delivery-contint img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

nav .nav-contint .nav-search .delivery-contint span {
  font-size: 14px;
  font-weight: 400;
}

nav .nav-contint .nav-bar {
  display: flex;
  align-items: center;
}

nav .nav-contint .nav-bar .nav-link {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--black);
  transition: all 0.3s ease;
}

nav .nav-contint .nav-bar .nav-link:hover {
  opacity: 0.5;
}

nav .nav-contint .nav-bar .nav-link img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* start header */

.header {
  position: relative;
  width: 100%;
  background-color: var(--orange);
  display: block;
}

.header .header-contint {
  position: relative;
  padding: 1rem 0;
}

.header .header-contint .menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  width: 30px;
  height: 30px;
}

.header .header-contint .header-list {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header .header-contint .header-list .header-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem 0.75rem 0.5rem;
  transition: 0.3s all linear;
}

.header .header-contint .header-list .header-item:hover {
  background-color: #ffffff40;
}

.header .header-contint .header-list .header-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: invert(1);
}

.header .header-contint .header-list .header-item span {
  color: var(--white);
}

.header .header-contint .header-list .header-item.show.dropdown-menu::after {
  transform: rotate(180deg);
}

.header .header-contint .dropdown-toggle::after {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 14px;
}

.header .header-contint .dropdown-menu {
  background-color: var(--orange);
  padding: 0;
  border: none;
  overflow: hidden;
}

.header .header-contint .dropdown-menu .dropdown-item {
  color: var(--white);
  font-family: 'cairo';
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 1rem;
}

.header .header-contint .dropdown-menu li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid var(--white);
}

.header .header-contint .dropdown-menu .dropdown-item:hover {
  background-color: var(--green);
}

.header .header-contint .avatar {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 95px;
  height: 95px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--white);
}

/* hero-section */

.hero-section {
  min-height: 100vh;
  background: url('../images/icons/hero_cover.png') no-repeat bottom/ contain var(--light-green);
  padding-top: 120px;
  padding-bottom: 30px;
}

.product-hero {
  width: 100%;
  max-height: 500px;
  aspect-ratio: 16/9;
  background: url('../images/prouct_hero.svg') no-repeat center left/ cover;
}

.client-section .client-contint,
.hero-section .hero-contint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.client-section .client-contint .client-info,
.client-section .client-contint .client-video,
.hero-section .hero-contint .hero-video,
.hero-section .hero-contint .hero-info {
  width: 100%;
  flex: 0 0 100%;
  text-align: center;
}

.client-section .client-info .client-title,
.hero-section .hero-contint .hero-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.client-section .client-info .client-desc,
.hero-section .hero-contint .hero-desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.client-section .client-contint .client-video .video-container,
.hero-section .hero-contint .hero-video .video-container {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.client-section .client-contint .client-video .video-container :is(video, iframe, img),
.hero-section .hero-contint .hero-video .video-container :is(video, iframe, img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* products-section */

.products-section {
  position: relative;
}

.products-section .custom-title .menu {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--orange);
  color: var(--white);
}

.products-section .custom-title .menu img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.products-section .product-contint {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.products-section .product-card {
  position: relative;
  border-radius: 18px;
  box-shadow: 0px 5px 10px 0px #00000015;
  transition: 0.3s all linear;
}

.products-section .product-card:hover {
  box-shadow: 0px 5px 10px 0px #00000025;
  transform: translateY(-5px);
}

.products-section .product-img {
  width: 100%;
  padding: 1.25rem 1.25rem 0;
}

.products-section .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 10px 10px #0000001a);
}

.products-section .product-card .card-body {
  padding: 1.25rem 0.75rem;
}

.products-section .product-card .card-body .card-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--green);
  margin-bottom: 0.25rem;
}

.products-section .product-card .card-body .card-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.products-section .product-card .card-body .card-items .card-price {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 0;
}

.products-section .product-card .card-body .card-items .card-price:last-child {
  display: none;
}

.products-section .product-card .card-body .card-btns {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
}

.products-section .product-card .card-body .nav.nav-pills {
  border: 1px solid var(--green);
  flex-wrap: nowrap;
}

.products-section .product-card .card-body .nav.nav-pills li {
  width: 50%;
}

.products-section .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--green);
  color: var(--white);
}

.products-section .nav-pills .nav-link {
  color: var(--green);
  font-size: 12px;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  border-radius: 0px;
  width: 100%;
}

.products-section .product-card .card-body .counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.products-section .product-card .card-body .count-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section .product-card .card-body .count-btn img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  filter: var(--green-filter);
}

.products-section .product-card .card-body .count-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 400;
  text-align: center;
  color: var(--green);
  border: 1px solid var(--light-green);
}

.more-product,
.products-section .product-card .card-body .add-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0 auto;
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
  border-radius: 2px;
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.products-section .product-card .card-body .add-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.products-section .product-card .card-body .add-btn.active {
  transform: rotate(360deg);
}

.products-section .product-card .card-body .add-btn .check-icon,
.products-section .product-card .card-body .add-btn.active .cart-icon {
  display: none;
}

.products-section .product-card .card-body .add-btn.active .check-icon {
  display: block;
}


.products-section .product-card .card-body .add-btn span {
  display: none;
}

.products-section .product-card .card-body .add-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: invert(1);
  transition: all 0.3s ease-in-out 0.1s;
}

.products-section .product-card .card-body .add-btn:hover,
.more-product:hover {
  background-color: var(--light-green);
  color: var(--green);
}

.products-section .product-card .card-body .add-btn:hover img {
  filter: var(--green-filter);
}

.more-product {
  margin: 10px auto 0 0;
  font-weight: 700;
  font-size: 1rem;
}

/* our client */

.client-section {
  background: url('../images/icons/hero_cover.png') no-repeat bottom/ contain var(--light-green);
}

.client-section .client-contint .client-video .video-container {
  margin-bottom: 0;
}

/* feature-section */

.feature-contint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.feature-contint .feature-item {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-contint .feature-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.feature-contint .feature-item .feature-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.feature-contint .feature-item .feature-desc {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

/* club-section */

.club-section {
  background: url('../images/icons/hero_cover.png') no-repeat bottom/ contain #ffebb3;
}

.club-section .club-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.club-section .club-logo img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.club-section .club-logo .club-title {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.club-section .club-info {
  padding: 1.5rem 0;
  background-color: var(--white);
  border-radius: 50px;
  border: 1px solid #EAEAEA;
  margin-bottom: 1.5rem;
}

.club-section .club-info .club-desc {
  width: 90%;
  margin: 0 auto;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 0;
}

/*************end club section****************/

/*------------- #blog-section --------------*/


.duplicated-slider-arrow .slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--orange);
  box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
  color: #fff;
  transition: all .3s ease;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: calc(300px /2);
  z-index: 10;
}

.duplicated-slider-arrow .slider-arrow img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media(hover:hover) and (pointer:fine) {
  .duplicated-slider-arrow .slider-arrow:hover {
    background-color: #f3722c5f;
    color: #fff;
  }
}

.duplicated-slider-arrow .slider-arrow.prev-btn {
  right: calc(-40px / 2);
}

.duplicated-slider-arrow .slider-arrow.next-btn {
  left: calc(-40px / 2);
}

.duplicated-slider-arrow .slider-arrow.swiper-button-disabled {
  background-color: #ddd;
  cursor: not-allowed;
  color: #9e9e9e !important
}

@media(max-width:767.98px) {


  .duplicated-slider-1-container .slider-arrow {

    border-radius: 0;


  }

  .duplicated-slider-1-container .slider-arrow.next-btn {

    left: .625rem;
  }

  .duplicated-slider-1-container .slider-arrow.prev-btn {

    right: .625rem;
  }

  .duplicated-slider-1-container .slider-arrow:focus,
  .duplicated-slider-1-container .slider-arrow:target {

    background-color: var(--clr-3-hover);
    color: #fff
  }

  .duplicated-slider-1-container .slider-arrow {

    top: calc(300px / 2);
    transform: none;
  }

}

@media(max-width:575.98px) {

  :root {

    --title-1: 32px;
    --title-2: 28px;
    --title-3: 24px;
    --title-4: 22px;
    --title-5: 20px;
    --title-6: 18px;
    --title-7: 16px;

    --border-r-1: 15px;
    --border-r-2: 10px;
    --border-r-3: 8px;
  }


  .duplicated-breadcrumb {

    min-height: 220px;
  }

  .show-more-link:not(.lg-btn) {

    max-width: 120px;
  }

  .slider-end {

    padding-bottom: calc(1.5rem - 1rem);
  }

  .scrollbar-slider {

    padding-bottom: 1rem;
  }

  .scrollbar-slider .swiper-scrollbar {

    display: block;
    height: 3px;
  }

  .slider-container.no-m-arrow .slider-arrow {

    display: none;
  }

  img.col-home-img {

    max-height: 250px;
  }

  .product-features-area {

    padding: 2rem 1rem;
  }

  .product-features-area .product-features-texts .feature-item .item-icon {

    margin-left: .75rem;
  }

  .products-banners-area .banner-item {

    padding: 2rem 1.5rem;

  }

  .products-banners-area .banner-item .banner-img {

    max-height: 250px;
  }

  .about-area .about-img img {

    max-height: 250px;
  }

  .about-area .about-text .about-desc,
  .features-area .features-title-wrap .desc {

    font-size: 18px;
  }

  .blog-area .blog-item .item-img img {

    height: 250px;
  }

  .gallery-area .gallery-item .gallery-link img {

    height: 250px;
  }

  .duplicated-slider-1-container .slider-arrow {

    top: calc(250px / 2);
    transform: none;
  }


}


.blog-area .blog-item .item-img img {
  display: block;
  height: 300px;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.blog-area .blog-item .item-body {

  padding-top: 1rem;
}

.blog-area .blog-item .item-body .item-head {

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.blog-area .blog-item .item-body .item-head>* {

  margin-bottom: 1rem;
}

.blog-area .blog-item .item-body .item-head .item-title {

  display: inline-block;
  font-size: var(--title-7);
  color: var(--green);
  padding-left: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s ease
}

.blog-area .blog-item .item-body .item-head .item-title:hover {

  color: var(--green-hover);
}

.blog-area .blog-item .item-body .item-head .item-more {

  display: flex;
  align-items: center;
}

.blog-area .blog-item .item-body .item-head .item-more .item-date {

  font-size: 16px;
  color: #9E9E9E;
  margin-left: 12px;
}

.blog-area .blog-item .item-body .item-head .item-more .more-link {

  font-size: 16px;
  color: var(--green);
  transition: all .3s ease
}

.blog-area .blog-item .item-body .item-head .item-more .more-link:hover {

  color: #EEBA31;
}

.blog-area .blog-item .item-body .item-footer {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.blog-area .blog-item .item-body .item-footer .item-text {

  font-size: 16px;
  text-align: justify;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 1rem;
}

.blog-area .blog-item .item-body .item-footer .item-note {

  display: block;
  margin-right: auto;
  font-size: 14px;
  color: #9E9E9E;
  flex-shrink: 0;

}

/*------------- #gallery-section --------------*/

.gallery-area .gallery-item .gallery-link {
  position: relative;
  display: block;
  transition: all .3s ease
}

.gallery-area .gallery-item .gallery-link img {

  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.gallery-area .gallery-item .gallery-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(148 193 32 / 50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  z-index: -1;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--title-1);
  opacity: 0;
  border-radius: 5px;
}

.gallery-area .gallery-item .gallery-link .gallery-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: all 0.3s ease;

  
}

.gallery-area .gallery-item .gallery-link:hover .gallery-icon{
  opacity: 1;
  z-index: 20;
}

.gallery-area .gallery-item .gallery-link:hover::after {
  opacity: 1;
  z-index: 10;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {

  border-color: var(--green)
}

.fancybox__progress {

  background-color: var(--green);
}


/************ contact us ************************/

.contact-map {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 500px;
  margin-bottom: 3rem;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-box {
  padding: 3rem 0rem;
  background: #FFFFFF;
  border: 1px solid rgba(225, 225, 225, 0.8);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 1000px;
  margin: auto;
}

.contact-box .box-container {
  padding: 0 3rem;
}

.contact-box .contact-info-area {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-box .contact-info-title,
.contact-box .contact-info-area .info-items {
  margin-bottom: 1.5rem;
}

.contact-box .contact-info-area .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-box .contact-info-area .info-item:last-child {
  margin-bottom: 0;
}

.contact-box .contact-info-area .info-item .item-icon {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  border-radius: 100%;
  flex-shrink: 0;
}

.contact-box .contact-info-area .info-item .item-icon img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.contact-box .contact-info-area .info-item .item-val {
  font-weight: bold;
  transition: all .3s ease;
  word-break: break-word;
}

.contact-box .contact-info-area .info-item a.item-val:hover {
  color: var(--green);
}

.contact-box .contact-info-area .info-item svg {
  width: 22px;
  height: 22px;
  fill: var(--green);
}

.contact-box .contact-form-area form {
  width: 100%;
}

.contact-box .contact-form-area .form-group {
  margin-bottom: 1rem;
}

.contact-box .contact-form-area .form-group .form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-box .form-group .form-control,
.contact-box .form-group .form-select {
  border-radius: 5px;
  border-color: #C4C4C4;
  font-size: 16px;
  color: #858585;
  box-shadow: none;
  padding: .75rem;
  height: 52px;
}

.contact-box .contact-form-area .form-group textarea {
  min-height: 150px;
  resize: none;
}

.contact-box .contact-form-area .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: none;
  padding: .75rem;
  background-color: var(--green);
  transition: all .3s ease;
  outline: none;
  color: #fff;
  height: 55px;
  font-weight: bold;
}

.contact-box .contact-form-area .submit-btn:hover {
  opacity: .8;
}

/******** footer********* */

footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #C4C4C4;
  margin-top: var(--section-padding);
  position: relative;
  padding-bottom: 65px;
}

.footer-area {
  padding: 3rem 0 1.5rem;
}

.footer-menu {
  position: relative;
  margin-bottom: 1.5rem;
  height: calc(100% - 1.5rem);
}

.footer-menu .menu-title {
  margin-bottom: 1.5rem;
  color: var(--green);
  font-size: var(--title-4);
  font-weight: bold;
}

.footer-menu .menu-list .item-link {
  display: inline-flex;
  align-items: center;
  transition: all .3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-menu .menu-list .item-link:hover {
  color: var(--green);
}

.footer-menu .footer-logo img {
  max-height: 200px;
  object-fit: contain;
}

footer .copy-rights {
  text-align: center;
  background-color: #414141;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem calc(1.5rem + 16px);
}

footer .copy-rights p {
  margin-bottom: 0;
}

.search-popup {
  position: fixed;
  left: 0;
  top: -200px;
  padding: 1rem 0;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
  border-bottom: 1px solid #eee;
  width: 100%;
  z-index: 99999;
  transition: all .3s ease;
}

.search-popup.active {
  top: 0;
}

.search-popup .close-search-popup {
  margin-right: auto;
  margin-bottom: .5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #909090;
  transition: all .3s ease;
  cursor: pointer;
}

.search-popup .close-search-popup img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.search-popup .close-search-popup:hover img {
  filter: var(--green-filter);
}

.search-popup .form-group {
  display: flex;
  align-items: center;
}

.search-popup .form-group input {
  flex: 1;
  width: auto;
  border-radius: 0px 3px 3px 0px;
  border-color: #eee;
  background-color: #f4f4f4;
  color: #777;
  height: 50px;
}

.search-popup .form-group .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: var(--green);
  width: 60px;
  height: 50px;
  transition: all .3s ease;
  border-radius: 3px 0px 0px 3px;
  border: none;
  outline: none;
  color: #fff
}

.search-popup .form-group .search-icon img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.search-popup .form-group .search-icon:hover {
  background-color: #009537a8;
}

/* tool Bar */


.tool-bar {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 5px;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.18);
  transition: all .3s ease;

}

.tool-bar>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.tool-bar .tool .tool-link {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  height: 50px;
  position: relative;
  padding: 0px 10px 20px;
  transition: all .3s ease
}

.tool-bar .tool .tool-icon svg {
  width: 22px;
  height: 22px;
  fill: #666;
  transition: all .3s ease
}

.tool-bar .tool .tool-link span {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  color: #666;
  transition: inherit
}

.tool-bar .tool .tool-link:hover,
.tool-bar .tool .tool-link:hover span {
  color: var(--green);

}

.tool-bar .tool .tool-link:hover svg {
  fill: var(--green);
}

.tool-bar .tool.cart-tool .counter {
  top: -4px;
  right: 2px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 8px;
}


/*------------- #cart-panel --------------*/

.cart-panel {
  position: fixed !important;
  top: 0;
  bottom: 0;
  overflow: auto !important;
  z-index: 99999;
  right: -120%;
  width: 350px;
  transition: all 0.3s ease;
  display: block;
  box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

.cart-panel.active {
  right: 0;
}

.cart-panel .panel-body{
  padding: 1rem;
}

.cart-panel .panel-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(78, 78, 78, 0.16);
  height: 80px;
}

.cart-panel .panel-head .head-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: 1rem;
}

.cart-panel .panel-head .panel-close {
  display: block;
  color: #909090;
  font-size: 24px;
  transition: all .3s ease;
  cursor: pointer;
}

.cart-panel .panel-head .panel-close:hover {
  color: var(--green)
}

.cart-panel .panel-head .panel-close img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cart-panel .panel-body {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-panel .panel-body .cart-items .item-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(78, 78, 78, 0.16);
}

.cart-panel .panel-body .cart-items .item-wrap:last-child {
  border-bottom: none;
}

.cart-panel .panel-body .cart-items .item-wrap .item-img {
  margin-left: 1rem;
  flex-shrink: 0;
}

.cart-panel .panel-body .cart-items .item-wrap .item-img img {
  display: block;
  object-fit: cover;
  max-width: 85px;
  max-height: 85px;
}

.cart-panel .panel-body .cart-items .item-wrap .item-details {
  flex: 1;
  position: relative;
  padding-left: calc(16px + .5rem)
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .item-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: .5rem;
  transition: all .3s ease
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .item-name:hover {
  color: var(--green);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .item-price {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(121, 121, 121, 1);
  font-weight: 400;
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .item-name bdi,
.cart-panel .panel-body .cart-items .item-wrap .item-details .item-price bdi {
  color: var(--green);
}

.cart-panel .panel-body .cart-items .item-wrap .del-item {
  position: absolute;
  top: 0;
  left: 0rem;
  display: block;
  background-color: transparent;
  transition: all .3s ease;
}

.cart-panel .panel-body .cart-items .item-wrap .del-item img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}


.cart-panel .panel-body .panel-actions {
  padding: 1.5rem 1rem;
  border-top: 1px solid rgba(78, 78, 78, 0.16);
}

.cart-panel .panel-body .panel-actions .total-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .5rem;

}

.cart-panel .panel-body .panel-actions .total-cart>span {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.cart-panel .panel-body .panel-actions .total-cart .total-title {
  font-size: var(--title-6);
}

.cart-panel .panel-body .panel-actions .total-cart .total-val {
  color: var(--green);
  font-size: var(--title-6);
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn {
  display: block;
  text-align: center;
  padding: .75rem;
  margin-bottom: .75rem;
  transition: all .3s ease;
  font-size: 16px;
  font-weight: bold;
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn:last-child {
  margin-bottom: 0;
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn.cart-link {
  background-color: #eee;
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn.cart-link:hover {
  background-color: #ddd;
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn.checkout-link {
  background-color: var(--green);
  color: #fff
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn.checkout-link:hover {
  background-color: #009436cc
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap {
  width: auto;
  height: auto;
  max-width: inherit;
  align-items: center;
  margin-top: .5rem;
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap .count-num {
  font-size: 15px;
  padding: .375rem;
  display: inline-block;
  width: auto;
  border: none;
  max-width: 45px;
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap .count-btn {
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap .count-btn svg {
  width: 12px;
  height: 12px;
  fill: var(--green);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap .count-btn:hover {
  background-color: var(--green);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap .count-btn:hover svg {
  fill: #fff
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap .count-btn.disabled svg {
  fill: rgba(121, 121, 121, 1)
}

@media(min-width:576px) {
  .cart-panel::-webkit-scrollbar {
    width: 5px;
  }

  .cart-panel::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 20px;
  }

  .cart-panel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
}

@media(max-width:480px) {

  .cart-panel {

    width: calc(90%);

  }
}

/* ********** mobile-menu ********* */

.mobile-menu-wrapper .mobile-menu-container {
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 999999;
  overflow-y: auto;
  right: -120%;
  width: 350px;
  max-width: calc(100% - 75px);
  transition: all 0.3s ease;
  display: block;
  box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
  background-color: #fff;
  margin-right: 0px !important;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 2rem;
}

.mobile-menu-wrapper .mobile-menu-container.active {
  right: 0;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-nav-tabs {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--green);
}

.mobile-menu-wrapper .mobile-menu-container .mobile-nav-tabs .mobile-tab {
  position: relative;
  padding: 18px 15px;
  color: var(--green);
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .25s ease, color .25s ease;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-nav-tabs .mobile-tab.active {
  background-color: var(--green);
  color: #fff;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item {
  display: block;
  position: relative;
  padding: 0.25rem;
  border-bottom: 1px solid var(--light-green);
}

.mobile-menu-item .menu-collapse .collapse-link,
.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item .mobile-menu-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  font-size: 16px;
  transition: all .3s ease;
  font-weight: 400;
  padding: .75rem;
}


.mobile-menu-item .menu-collapse .collapse-link.mobile-menu-link{
  padding: 0 2rem 0 1rem !important;
  margin-bottom: 0.5rem !important;
  color: #4b4b4b !important;
}

.mobile-menu-item .menu-collapse .collapse-link.mobile-menu-link img{
  width: 25px !important;
  height: 25px !important;
  object-fit: contain;
  transition: all .3s ease;
}

.mobile-menu-item .menu-collapse  .collapse-link img{
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: all .3s ease;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item .mobile-menu-link img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  transition: all .3s ease;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item .mobile-menu-link:hover img {
  filter: var(--green-filter);
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item .collapse-arrow {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  object-fit: contain;
  transition: all .3s ease;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item .collapse-arrow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all .3s ease;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu .mobile-menu-item .mobile-menu-link:hover {
  color: var(--green) !important;
}

.nav-content .services-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .75rem 1rem;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--green);
  color: #fff;
  border-radius: 5px;
  transition: all .3s ease;
}

.nav-content .services-btn:hover {
  background-color: #009537b7;
}

.mobile-menu-wrapper .mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15px;
  left: -100px;
  z-index: 99999;
  width: 40px;
  height: 40px;
  background-color: #eee;
  transition: all .3s ease;
}

.mobile-menu-wrapper .mobile-menu-close img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.mobile-menu-wrapper .mobile-menu-container.active+.mobile-menu-close {
  left: 15px;
}

/*------------- #login modals --------------*/


.custom-modal .modal-content {
  border-radius: 5px;
  border: none;
}

.custom-modal .modal-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.custom-modal .sign-area {
  max-width: 650px;
  margin: auto;
}

.custom-modal .sign-area .login-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  border-radius: var(--border-r-2);
}

.custom-modal .sign-area .login-btns .tab-btn {
  display: block;
  border: none;
  outline: none;
  font-size: var(--title-6);
  transition: all .3s ease;
  padding: 0.75rem;
  color: rgba(115, 123, 142, 1);
  border: 1px solid rgba(115, 123, 142, 0.4);
  flex: 1;
  background-color: #fff
}

.custom-modal .sign-area .login-btns .tab-btn.active {

  background-color: #737B8E;
  border-color: #737B8E;
  color: #fff;
}

.custom-modal .sign-area .login-btns .tab-btn:first-child {

  border-radius: 0 var(--border-r-2) var(--border-r-2) 0;
  margin-left: -1px;
}

.custom-modal .sign-area .login-btns .tab-btn:last-child {

  border-radius: var(--border-r-2) 0 0 var(--border-r-2);
}

.custom-modal .sign-area .login-btns .tab-btn:not(.active):hover {

  background-color: #F0F0F0
}

.custom-modal .sign-area .social-login {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.custom-modal .sign-area .social-login .social-item {

  display: block;
  background-color: #F0F0F0;
  border-radius: 5px;
  padding: .5rem;
  margin: 0 .75rem;
  transition: all .3s ease
}

.custom-modal .sign-area .social-login .social-item img {

  width: 35px;
  height: 35px;

}

.custom-modal .sign-area .social-login .social-item:hover {

  background-color: #ddd
}

.custom-modal .sign-area .form-group {

  margin-bottom: 1.5rem;
}

.custom-modal .sign-area .form-group .form-label {

  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-modal .sign-area .form-group .note {

  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  transition: all .3s ease
}

.custom-modal .sign-area .form-group a.note:hover {

  color: var(--green);
}

.custom-modal .sign-area .submit {

  padding-top: .5rem;
}

.custom-modal .sign-area .submit-btn {

  display: block;
  width: 100%;
  padding: .75rem;
  background-color: var(--green);
  font-size: var(--title-7);
  color: #fff;
  font-weight: bold;
  transition: all .3s ease;

}

.custom-modal .sign-area .submit-btn:hover {
  background-color: #00953796;
}

.custom-modal .area-title {
  font-weight: bold;
  font-size: var(--title-4);
  margin-bottom: 2rem;
  text-align: center;
}


.custom-modal .btn__close img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

@media(min-width:768px) and (max-width:991.98px) {
  .custom-modal .modal-dialog {
    max-width: 700px;
  }
}

@media(min-width:768px) {
  .custom-modal .btn__close {
    position: absolute;
    left: calc(-34px / 2);
    top: calc(-34px / 2);
    width: 34px;
    height: 34px;
    background-color: #FCFCFD;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    transition: all .3s ease;
    color: #909090;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    vertical-align: middle;
  }


  .custom-modal .btn__close:hover {
    background-color: var(--green);
    color: #fff
  }

  .custom-modal .modal-body {
    padding-top: calc(calc(34px / 2) + 3rem);
  }
}

@media(max-width:767.98px) {
  .custom-modal .btn__close {
    position: absolute;
    height: 40px;
    left: 0;
    margin-top: 1rem;
    padding: .5rem 1rem 0;
    display: inline-flex;
    justify-content: flex-end;
    font-size: 22px;
    margin-right: auto;
    color: #909090;
    transition: all .3s ease;
    z-index: 10;

  }

  .custom-modal .btn__close img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .custom-modal .btn__close:hover {
    color: var(--green);
  }

  .custom-modal .modal-body {
    padding-top: calc(calc(40px / 2) + 1rem + 2rem);
    padding-bottom: 2rem;
  }

  .custom-modal .modal-dialog {
    padding: .25rem;
  }

}


/* overly */
.side-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.side-overlay.active {
  display: block;
}